[submodule "portfolio"]       # ou "portfolio" si c’est le bon nom
    path = portfolio          # ou "portfolio" si tu renommes le dossier
    url = https://github.com/amiragharb/portfolio.git
    branch = main
