[submodule "portfilio"]       # ou "portfolio" si c’est le bon nom
    path = portfilio          # ou "portfolio" si tu renommes le dossier
    url = https://github.com/amiragharb/portfilio.git
    branch = main
